/* 22C-2 */
.header {
  background: blue;
  width: 100%;
  height: 100px;
  /* 27C, 27D, 27E, 27F, 27G */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  /* 25C-3 */
  position: fixed;
  top: 0;
}

/* 22C-1 */
#header_headline {
  color: #fff;
}
